@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}



body {
    background-color: #5B2386;
    text-align: center;
    color: white;
    padding: auto;
}

main {
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: top;
    max-width: 100%;
    margin-top: 41px;
}

.title-img {
    margin-top: 76px;
    width: 564px;
    max-width: 100%;
    position: center;
}

.sub {
    margin-top: 124px; /*124px*/
}

.sub-title {
    color: #F5DF4D;
    font-size: 36px; /*36px*/
    font-family: 'OTEnjoystoriesBA';
}

.sub-title2 {
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 493px auto;
    margin-top: 77px; /*77px*/
    line-height: 35px; /*35px*/
    font-family: 'GmarketSansMedium';
    font-size: 15px; /*15px*/
}

.sub-title2 span {
    font-weight: bold;
    font-size: 25px; /*25px*/
}

.input-time {
    margin-top: 102px;
    font-size: 24px;
    font-family: 'GmarketSansMedium';
}

.input2 {
    margin-top: 27px;
}

.input-time input {
    text-align: center;
    border-radius: 7px;
    border-style: hidden;
    width: 228px;  /*228*/
    height: 57px;  /*57*/
}

input::placeholder {
    color: #BABCBE;
    font-size: 24px;
}

.time-btn {
    display: inline-block;
}

.click-img {
    width: 64px;
    height: 72px;
}

.button-calculate, .button-open, .button-close {
    color: #5B2386;
    font-size: 24px; /*24px*/
    font-weight: bold;
    border-style: hidden;
    border-radius: 50px;
    background-color: #FCEE21;
    padding: 21px;  /*21px*/
    padding-right: 49px;  /*49px*/
    padding-left: 49px;   /*49px*/
    margin-top: 115px;
    font-family: 'GmarketSansMedium';
}

.result {
    font-size: 24px;
    margin-top: 147px;
    font-family: 'GmarketSansMedium';
}

.span2, .span3 {
    font-weight: bold;
    font-size: 72px;
}

.modal-btn {
    display: center;
}

.button-share {
    color: #5B2386;
    font-size: 24px; /*24px*/
    font-weight: bold;
    border-style: hidden;
    border-radius: 50px;
    background-color: white;
    padding: 21px;  /*21px*/
    padding-right: 49px;  /*49px*/
    padding-left: 49px;   /*49px*/
    font-family: 'GmarketSansMedium';
}

dialog {
    color: #5B2386;
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    width: 800px;
    border-radius: 30px;
}

.text1 {
    font-size: 96px;
}
.text2 {
    margin-bottom: 29px;
}

.logo {
    margin-top: 130px;
}

footer {
    font-size: 12px;
}

footer p {
    margin-bottom: 50px;
}




@media screen and (max-width: 768px) {
    main {
        max-width: 100%;
        background-size: 126px 125px;
    }

    .title-img {
        width: 267px;
        height: 53px;
        margin-top: 36px;
    }

    .sub {
        margin-top: 69px;
    }

    .sub-title {
        font-size: 22px;
    }

    .sub-title2 {
        font-size: 14px;
        background: url(../img/quotes.png) no-repeat center / contain;
        background-size: 330px;
    }

    .span {
        font-size: 14px;
    }

    .input-time {
        margin-top: 66px;
        font-size: 14px;
    }

    .input2 {
        margin-top: 0;
    }

    .input-time > span {
        display: block;
        margin-top: 19px;
    }

    .input-time input {
        text-align: center;
        border-radius: 7px;
        border-style: hidden;
        width: 156px;  
        height: 37px;  
    }

    input::placeholder {
        color: #BABCBE;
        font-size: 14px;
    }

    .time-btn {
        margin-top: 49px;
    }

    .button-calculate, .button-close {
        font-size: 14px;
        border-radius: 13px;
        width: 241px;
        height: 68px;
        padding: 10px; 
        padding-right: 49px;
        padding-left: 49px;
        margin: 0;
    }

    .click-img {
        width: 43px;
        height: 48px;
    }

    .result {
        font-size: 14px;
        margin-top: 64px;
    }

    .span2, .span3 {
        font-size: 24px;
    }

    .modal-btn {
        margin-top: 55px;
    }

    .button-open {
        font-size: 14px;
        width: 186px;
        height: 40px;
        padding: 0;
        margin-top: 0px;
    }

    .button-share {
        font-size: 14px;
        width: 92px;
        height: 40px;
        padding: 0;
        margin-top: 0px;
    }

    footer p {
        font-size: 9px;
        color: #FFFFFF;
        line-height: 15px;
        opacity: 0.5;
        margin-bottom: 25px;
    }

    .logo {
        margin-top: 83px;
        width: 91px;
        height: 18px;
    }

    dialog {
        color: #5B2386;
        font-family: 'OTEnjoystoriesBA';
        font-size: 36px;
        width: 330px;
        border-radius: 30px;
    }

    dialog img {
        width: 241px;
        height: 188px;
    }

    .heart {
        display: none;
    }
}